
.tag{
    font-size: 14px;
    font-weight: 500px;
    background-color: #ff8800;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #fefefe;
}